version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: blog_mongodb_dev
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_dev_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: blog_db

volumes:
  mongodb_dev_data:
